@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

:root {
  --desktop-width: 1440px;
  --gutter: 20px;

  --bg-color: #05041c;
  --unit-dropdown-bg-color: #282a3a;
  --search-input-bg-color: #282a3a;
  --cards-bg-color: #282a3a;
  --side-nav-bg-color: #2f3040;
  --unit-dropdown-hover-bg-color: #2f3040;
  --search-input-hover-bg-color: #2f3040;
  --days-dropdown-bg-color: #3d3e52;
  --main-heading-color: #ffffff;
  --current-degree-color: #ffffff;
  --side-nav-heading-color: #ffffff;
  --time-color: #ffffff;
  --units-dropdown-text: #ffffff;
  --search-input-text-color: #b2b3b8;
  --cards-heading-color: #b2b3b8;
  --lowest-degree-color: #b2b3b8;
  --highest-degree-color: #d7d7dc;
  --day-month-year-color: #b2b3b8;
  --button-text-color: #ffffff;
  --country-city-color: #ffffff;
  --day-color: #d7d7dc;
  --button-bg-color: #5260e8;
  --button-hover-bg-color: #3a2da0;
  --unit-dropdown-menu-bg-color: #282a3a;
  --days-dropdown-menu-bg-color: #3d3e52;
  --daily-forecast-color: #ffffff;
  --weather-info-color: #d7d7dc;
  --days-degrees-color: #d7d7dc;
}
